
<nav class="g">
  <a class="a">TekwayServ</a>

  <div class="fl">
  <a class="b">Home</a>
  <a class="c">PortFolio</a>
  <a class="d">About</a>
  <a class="e">Services</a>
  <a class="f">Contact</a>
  <a class="g"></a>
  </div>

</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-nav-end visi">
  <a class="navbar-brand" href="#">TekWayServ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PortFolio</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" >Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" >Contac</a>
      </li>
    </ul>

  </div>
</nav>

